# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "4303a2e7d559c86b96bbb6e80d51a4aa"
name = "BlogLift"
application_url = "https://seo-optimizer-app.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = ["app/uninstalled"]
  uri = "/webhooks/app/uninstalled"


  [[webhooks.subscriptions]]
  topics = ["app/scopes_update"]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
  uri = "/webhooks/compliance"

[access_scopes]
# Add scopes here if needed
scopes = "write_products"

[auth]
redirect_urls = [
  "https://seo-optimizer-app.vercel.app/api/auth",
  "https://seo-optimizer-app.vercel.app/api/auth/callback",
  "https://seo-optimizer-app.vercel.app/auth/callback"
]

